/* Write your CSS code here */
.home-container {
  width: 90%;
  max-width: 1110px;
  padding-top: 10px;
  padding-bottom: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
  }
}

.home-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-text-container {
    align-items: flex-start;
  }
}

.home-mobile-image {
  width: 260px;
}

@media screen and (min-width: 768px) {
  .home-mobile-image {
    display: none;
  }
}

.home-text-heading {
  text-align: center;
  color: #1e293b;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: bold;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .home-text-heading {
    text-align: left;
    font-size: 46px;
  }
}

.home-text-description {
  text-align: center;
  color: #64748b;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 28px;
  margin-top: 36px;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .home-text-description {
    text-align: left;
    font-size: 16px;
    margin-top: 0;
  }
}

.home-text-button {
  color: #ffffff;
  background-color: #0967d2;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  width: 60%;
  border: none;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 576px) {
  .home-text-button {
    width: 150px;
    font-size: 16px;
  }
}

.home-desktop-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .home-desktop-image {
    width: 50%;
    max-width: 450px;
    margin-left: 80px;
    display: flex;
  }
}